@charset "ISO-8859-1";
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}